<a href="https://colab.research.google.com/github/IgorComune/ecommerce_olist/blob/main/olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
# essentials
import pandas as pd
import numpy as np

# data viz
import plotly as plty
import plotly.express as px

# Data

In [20]:
customers = pd.read_csv('data_olist/olist_customers_dataset.csv')
geolocation = pd.read_csv('data_olist/olist_geolocation_dataset.csv')
order_items = pd.read_csv('data_olist/olist_order_items_dataset.csv')
payments = pd.read_csv('data_olist/olist_order_payments_dataset.csv')
reviews = pd.read_csv('data_olist/olist_order_reviews_dataset.csv')
orders = pd.read_csv('data_olist/olist_orders_dataset.csv')
products = pd.read_csv('data_olist/olist_products_dataset.csv')
sellers = pd.read_csv('data_olist/olist_sellers_dataset.csv')
translation = pd.read_csv('data_olist/product_category_name_translation.csv')

In [21]:
geolocation

         geolocation_zip_code_prefix  ...  geolocation_state
0                               1037  ...                 SP
1                               1046  ...                 SP
2                               1046  ...                 SP
3                               1041  ...                 SP
4                               1035  ...                 SP
...                              ...  ...                ...
1000158                        99950  ...                 RS
1000159                        99900  ...                 RS
1000160                        99950  ...                 RS
1000161                        99980  ...                 RS
1000162                        99950  ...                 RS

[1000163 rows x 5 columns]

In [ ]:
}