<a href="https://colab.research.google.com/github/IgorComune/ecommerce_olist/blob/main/olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install -U textblob

# Libraries

In [2]:
# essentials
import pandas as pd
import numpy as np

# data viz
import plotly as plty
import plotly.express as px

# Data

In [3]:
customers = pd.read_csv('data_olist/olist_customers_dataset.csv')
geolocation = pd.read_csv('data_olist/olist_geolocation_dataset.csv')
order_items = pd.read_csv('data_olist/olist_order_items_dataset.csv')
payments = pd.read_csv('data_olist/olist_order_payments_dataset.csv')
reviews = pd.read_csv('data_olist/olist_order_reviews_dataset.csv')
orders = pd.read_csv('data_olist/olist_orders_dataset.csv')
products = pd.read_csv('data_olist/olist_products_dataset.csv')
sellers = pd.read_csv('data_olist/olist_sellers_dataset.csv')
translation = pd.read_csv('data_olist/product_category_name_translation.csv')

# Visualizing all df's

In [4]:
customers.head()

                        customer_id  ... customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...             SP
1  18955e83d337fd6b2def6b18a428ac77  ...             SP
2  4e7b3e00288586ebd08712fdd0374a03  ...             SP
3  b2b6027bc5c5109e529d4dc6358b12c3  ...             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad  ...             SP

[5 rows x 5 columns]

In [5]:
geolocation.head()

   geolocation_zip_code_prefix  ...  geolocation_state
0                         1037  ...                 SP
1                         1046  ...                 SP
2                         1046  ...                 SP
3                         1041  ...                 SP
4                         1035  ...                 SP

[5 rows x 5 columns]

In [6]:
order_items.head()

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14

[5 rows x 7 columns]

In [7]:
payments.head()

                           order_id  ...  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17  ...          99.33
1  a9810da82917af2d9aefd1278f1dcfa0  ...          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd  ...          65.71
3  ba78997921bbcdc1373bb41e913ab953  ...         107.78
4  42fdf880ba16b47b59251dd489d4441a  ...         128.45

[5 rows x 5 columns]

In [8]:
reviews.head()

                          review_id  ... review_answer_timestamp
0  7bc2406110b926393aa56f80a40eba40  ...     2018-01-18 21:46:59
1  80e641a11e56f04c1ad469d5645fdfde  ...     2018-03-11 03:05:13
2  228ce5500dc1d8e020d8d1322874b6f0  ...     2018-02-18 14:36:24
3  e64fb393e7b32834bb789ff8bb30750e  ...     2017-04-21 22:02:06
4  f7c4243c7fe1938f181bec41a392bdeb  ...     2018-03-02 10:26:53

[5 rows x 7 columns]

In [9]:
orders.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

In [10]:
products.head()

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 9 columns]

In [11]:
sellers.head()

                          seller_id  ...  seller_state
0  3442f8959a84dea7ee197c632cb2df15  ...            SP
1  d1b65fc7debc3361ea86b5f14c68d2e2  ...            SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  ...            RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3  ...            SP
4  51a04a8a6bdcb23deccc82b0b80742cf  ...            SP

[5 rows x 4 columns]

In [12]:
translation.head(50)

                             product_category_name            product_category_name_english
0                                     beleza_saude                            health_beauty
1                           informatica_acessorios                    computers_accessories
2                                       automotivo                                     auto
3                                  cama_mesa_banho                           bed_bath_table
4                                 moveis_decoracao                          furniture_decor
5                                    esporte_lazer                           sports_leisure
6                                       perfumaria                                perfumery
7                            utilidades_domesticas                               housewares
8                                        telefonia                                telephony
9                               relogios_presentes                            watches_gifts
10                               alimentos_bebidas                               food_drink
11                                           bebes                                     baby
12                                       papelaria                               stationery
13                        tablets_impressao_imagem                   tablets_printing_image
14                                      brinquedos                                     toys
15                                  telefonia_fixa                          fixed_telephony
16                              ferramentas_jardim                             garden_tools
17                     fashion_bolsas_e_acessorios                 fashion_bags_accessories
18                                 eletroportateis                         small_appliances
19                                  consoles_games                           consoles_games
20                                           audio                                    audio
21                                fashion_calcados                            fashion_shoes
22                                      cool_stuff                               cool_stuff
23                                malas_acessorios                      luggage_accessories
24                                    climatizacao                         air_conditioning
25               construcao_ferramentas_construcao          construction_tools_construction
26  moveis_cozinha_area_de_servico_jantar_e_jardim  kitchen_dining_laundry_garden_furniture
27                   construcao_ferramentas_jardim                 costruction_tools_garden
28                         fashion_roupa_masculina                    fashion_male_clothing
29                                        pet_shop                                 pet_shop
30                               moveis_escritorio                         office_furniture
31                                    market_place                             market_place
32                                     eletronicos                              electronics
33                                eletrodomesticos                          home_appliances
34                               artigos_de_festas                           party_supplies
35                                   casa_conforto                             home_confort
36              construcao_ferramentas_ferramentas                  costruction_tools_tools
37                       agro_industria_e_comercio               agro_industry_and_commerce
38                       moveis_colchao_e_estofado        furniture_mattress_and_upholstery
39                                 livros_tecnicos                          books_technical
40                                 casa_construcao                        home_construction
41                           instrumentos_musicais                      musical_instruments
42                                     moveis_sala                    furniture_living_room
43               construcao_ferramentas_iluminacao                construction_tools_lights
44                   industria_comercio_e_negocios           industry_commerce_and_business
45                                       alimentos                                     food
46                                           artes                                      art
47                                   moveis_quarto                        furniture_bedroom
48                          livros_interesse_geral                   books_general_interest
49                construcao_ferramentas_seguranca                construction_tools_safety

## Names translation

In [13]:
en_names = []
pt_names = []
for name in translation['product_category_name_english']:
  en_names.append(name)

for name in translation['product_category_name']:
  pt_names.append(name)

In [14]:
zip_iterator = zip(pt_names, en_names)
name_dictionary = dict(zip_iterator)
name_dictionary

{'agro_industria_e_comercio': 'agro_industry_and_commerce',
 'alimentos': 'food',
 'alimentos_bebidas': 'food_drink',
 'artes': 'art',
 'artes_e_artesanato': 'arts_and_craftmanship',
 'artigos_de_festas': 'party_supplies',
 'artigos_de_natal': 'christmas_supplies',
 'audio': 'audio',
 'automotivo': 'auto',
 'bebes': 'baby',
 'bebidas': 'drinks',
 'beleza_saude': 'health_beauty',
 'brinquedos': 'toys',
 'cama_mesa_banho': 'bed_bath_table',
 'casa_conforto': 'home_confort',
 'casa_conforto_2': 'home_comfort_2',
 'casa_construcao': 'home_construction',
 'cds_dvds_musicais': 'cds_dvds_musicals',
 'cine_foto': 'cine_photo',
 'climatizacao': 'air_conditioning',
 'consoles_games': 'consoles_games',
 'construcao_ferramentas_construcao': 'construction_tools_construction',
 'construcao_ferramentas_ferramentas': 'costruction_tools_tools',
 'construcao_ferramentas_iluminacao': 'construction_tools_lights',
 'construcao_ferramentas_jardim': 'costruction_tools_garden',
 'construcao_ferramentas_seguranca': 'construction_tools_safety',
 'cool_stuff': 'cool_stuff',
 'dvds_blu_ray': 'dvds_blu_ray',
 'eletrodomesticos': 'home_appliances',
 'eletrodomesticos_2': 'home_appliances_2',
 'eletronicos': 'electronics',
 'eletroportateis': 'small_appliances',
 'esporte_lazer': 'sports_leisure',
 'fashion_bolsas_e_acessorios': 'fashion_bags_accessories',
 'fashion_calcados': 'fashion_shoes',
 'fashion_esporte': 'fashion_sport',
 'fashion_roupa_feminina': 'fashio_female_clothing',
 'fashion_roupa_infanto_juvenil': 'fashion_childrens_clothes',
 'fashion_roupa_masculina': 'fashion_male_clothing',
 'fashion_underwear_e_moda_praia': 'fashion_underwear_beach',
 'ferramentas_jardim': 'garden_tools',
 'flores': 'flowers',
 'fraldas_higiene': 'diapers_and_hygiene',
 'industria_comercio_e_negocios': 'industry_commerce_and_business',
 'informatica_acessorios': 'computers_accessories',
 'instrumentos_musicais': 'musical_instruments',
 'la_cuisine': 'la_cuisine',
 'livros_importados': 'books_imported',
 'livros_interesse_geral': 'books_general_interest',
 'livros_tecnicos': 'books_technical',
 'malas_acessorios': 'luggage_accessories',
 'market_place': 'market_place',
 'moveis_colchao_e_estofado': 'furniture_mattress_and_upholstery',
 'moveis_cozinha_area_de_servico_jantar_e_jardim': 'kitchen_dining_laundry_garden_furniture',
 'moveis_decoracao': 'furniture_decor',
 'moveis_escritorio': 'office_furniture',
 'moveis_quarto': 'furniture_bedroom',
 'moveis_sala': 'furniture_living_room',
 'musica': 'music',
 'papelaria': 'stationery',
 'pcs': 'computers',
 'perfumaria': 'perfumery',
 'pet_shop': 'pet_shop',
 'portateis_casa_forno_e_cafe': 'small_appliances_home_oven_and_coffee',
 'relogios_presentes': 'watches_gifts',
 'seguros_e_servicos': 'security_and_services',
 'sinalizacao_e_seguranca': 'signaling_and_security',
 'tablets_impressao_imagem': 'tablets_printing_image',
 'telefonia': 'telephony',
 'telefonia_fixa': 'fixed_telephony',
 'utilidades_domesticas': 'housewares'}

In [15]:
products['product_category_name'] = products['product_category_name'].map(name_dictionary)

In [16]:
products.head(5)

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 9 columns]

In [17]:
products.product_category_name = products.product_category_name.fillna('unknown')

In [18]:
products.groupby('product_category_name').mean()

                            product_name_lenght  ...  product_width_cm
product_category_name                            ...
agro_industry_and_commerce            49.108108  ...         25.810811
air_conditioning                      51.661290  ...         26.088710
art                                   47.090909  ...         23.363636
arts_and_craftmanship                 44.263158  ...         21.052632
audio                                 46.551724  ...         17.344828
...                                         ...  ...               ...
tablets_printing_image                54.000000  ...         21.555556
telephony                             50.450617  ...         13.248677
toys                                  45.119773  ...         24.926293
unknown                               55.615385  ...         22.586817
watches_gifts                         49.803612  ...         15.268623

[72 rows x 7 columns]